<li>
    <header><img class="commentUserPic" src="../../static/images/anonymous-{{author.gender}}.jpg" width=50 height=50><a id="profileRedirect" href="/auth/profile/{{author._id}}">{{author.username}}</a></header>
    <p>{{content}}</p>
</li>