<main>
        <div class="userInfo">
            <div class="avatar"> 
               <img src="../static/images/anonymous-{{user.gender}}.jpg">
            </div>
            <h2 id="usernamePlaceholder">{{user.username}}</h2>
            <h2>{{user.country}}</h2>
            <hr>
        </div>
        {{#if user.cubes}}
        <h3 id="added-by">Cubes added by {{user.username}}:</h3>
        {{/if}}
            {{#each user.cubes}}
            {{> cube}}
            {{/each}}
    </main>`